.hero {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-content: center;
  background-image: url(../img/hero-image.jpeg);
  background-size: cover;
  background-position: center center;

  span {
    display: inline-block;
    align-self: center;
    padding: 20px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: rgb(204, 204, 204);
    opacity: .5;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
}